%h2 Выпускной в стартап-инкубаторе &laquo;Tetuan Valley&raquo;
%br>
%div= image_tag 'season2011/blog1-1.jpg', style: 'max-width: 100%'
%br>
%div{ style: '-moz-column-count: 2; -moz-column-gap: 2em; -webkit-column-count: 2; -webkit-column-gap: 2em;'} 
  -# у кого не поддерживается column-count увидит просто одну колонку
  %p
    Через неделю после прошедшей в&nbsp;Марбелье ярмарки интернет-проектов &laquo;Spanish Village&raquo;, я&nbsp;решил, пользуясь случаем, посетить другой испанский стартап-инкубатор&nbsp;&mdash;&nbsp;
    %a{ href: 'http://www.tetuanvalley.com'}> Tetuan Valley 
    , проводимый в&nbsp;Мадриде венчурным фондом&nbsp;
    %a{ href: 'http://www.okuriventures.com'}> Okuri Ventures 
    \.
   
  %pФормат этого инкубатора, или, как его называют сами организаторы&nbsp;&mdash; &laquo;Стартап-школы&raquo;&nbsp;&mdash; такой: в&nbsp;течение 10&nbsp;недель по&nbsp;средам с&nbsp;18&nbsp;часов и&nbsp;до&nbsp;полуночи в&nbsp;технопарке Tetuan Valley встречаются 10&nbsp;команд, желающих подготовить свои бизнес-идеи для представления инвесторам и&nbsp;получения первых посевных инвестиций. Вначале приглашенный эксперт читает участникам классическую <nobr>1,5-часовую</nobr> лекцию. Темы&nbsp;&mdash; самые обычные для таких мероприятий: развитие продукта, оценка аудитории, маркетинг, искусство презентации, финансовое планирование и&nbsp;т.п. Затем команды под руководством менторов и&nbsp;приглашенного эксперта работают над своими проектами. В&nbsp;конце &laquo;дня&raquo; каждая команда даёт отчёт: на&nbsp;какой стадии находится их&nbsp;проект, что изменилось по&nbsp;сравнению с&nbsp;прошлой неделей, что они сделали за&nbsp;этот вечер и&nbsp;чем будут заниматься всю следующую неделю. После чего все расходятся работать над своими проектами в&nbsp;собственном темпе: вечерами и&nbsp;ночами до&nbsp;следующей среды. После чего история повторяется&nbsp;&mdash; все 10&nbsp;раз, до&nbsp;финального &laquo;выпускного&raquo;, ради которого я&nbsp;и&nbsp;предпринял своё маленькое путешествие из&nbsp;Малаги в&nbsp;столицу Испании.
   
  %pНа&nbsp;выпускном помимо трёх десятков участников инкубатора присутствовали пятеро организаторов, их&nbsp;помощники и&nbsp;ещё с&nbsp;десяток гостей, включая меня. Рабочий язык мероприятия&nbsp;&mdash; английский, хотя подавляющее большинство присутствовавших были испанцами. Выпускной начался, как и&nbsp;всякая другая встреча в&nbsp;Tetuan Valley, с&nbsp;полуторачасовой лекции директора инкубатора Хосе Кобиана, который рассказал командам о&nbsp;том, что их&nbsp;ждёт дальше&nbsp;&mdash; как искать инвесторов и&nbsp;кому в&nbsp;Испании презентовать свои проекты. Хосе назвал крупнейших частных инвесторов, посевные и&nbsp;венчурные фонды, рассказал о&nbsp;возможности разрабатывать свой проект в&nbsp;других инкубаторах и&nbsp;акселлераторах, как в&nbsp;Испании, так и&nbsp;в&nbsp;других странах Евросоюза. В&nbsp;качестве одной из&nbsp;возможностей был назван бизнес-акселератор &laquo;Spanish Village&raquo; с&nbsp;представлением меня, как только что прошедшего его огонь, воду и&nbsp;медные трубы.
   
  %p
    Сразу после Хосе Кобиана на сцену вышел гость и звезда вечера &mdash; глава инвестиционной компании Cabiedes & Partners Хосе Мартин Кабьедез, который рассказал, что его фирма готова проинвестировать в 30-40 стартапов по 150-250 тысяч €, суммарно на 5 млн евро. Cabiedes & Partners уже имеет
    %a{ href: 'http://www.linkedin.com/in/luismartincabiedes'} в портфолио
    около двух десятков испанских стартапов и успешно вышла из 3-4 компаний. Этот фонд заинтересован только в интернет-стартапах, напрямую связанных с Испанией и разрабатываемых испанскими командами. Выступление Кабьедез произвело фурор: всё-таки не каждый день инвестор сам поднимается на сцену, чтобы заявить о своей готовности инвестировать и сообщить публике свой e-mail!
   
  %pПосле выступления инвестора объявили получасовой перерыв, в котором была возможность познакомиться и обменяться визитками. Атмосфера располагала к общению &mdash; всё было дружелюбно и демократично, участников угощали пиццей и колой. Разумеется, больше всего вопросами атаковали инвестора, но и мне удалось познакомиться с испанскими ребятами, которые интересовались &laquo;Spanish Village&raquo; и задавали вопросы про нашу жизнь, организацию, выпускной, проекты и будущее. Не скрою, было очень приятно оказаться в центре внимания :)
   
  %p
    Затем начались собственно презентации проектов. Всего было представлено
    %a{ href: 'http://blog.tetuanvalley.com/alumni'}9 бизнес-идей
    (10-я команда, которая как раз делала сервис-конкурент нашего Majakaja, сошла с дистанции, не выдержав заданного менторами рабочего темпа). На выступление каждой команде отводилось 10 минут: по 4,5 минуты на презентацию и вопросы-ответы аудитории и 1 минута &mdash; на комментарии экспертов. За временем следили жёстко, как на каждом подобном серьёзном мероприятии, ведь по сути это была генеральная репетиция перед настоящими выступлениями на каком-нибудь инвестиционном форуме. Уровень проработки и подачи проектов был самый разный &mdash; так что можно ожидать, что кто-то из выпускников  имеет все шансы занять достойное место среди успешных европейских стартапов. Желаю всем проектам удачи и благодарю организаторов Tetuan Valley за возможность близкого знакомства с испанским стартап-движением!
   
  %br>
  Захар Кириллов, Majakaja.
  %br>
  2 декабря 2011
%br>
%br
%div= image_tag 'season2011/blog1-2.jpg', style: 'max-width: 100%'
%br>
%br