%h2 Старт сезона-2011 в «Spanish Village»
%br>
%div= image_tag 'season2011/blog10-1.jpg', style: 'max-width: 100%'
%br>
%div{ style: '-moz-column-count: 2; -moz-column-gap: 2em; -webkit-column-count: 2; -webkit-column-gap: 2em;'} 
  -# у кого не поддерживается column-count увидит просто одну колонку
  %p
    В 2011 году на сайте бизнес-акселератора было зарегистрировано 35 проектов. По результатам собеседований с авторами 16 проектов, прошедших предварительный отбор, определены 6 победителей конкурса сезона «Осень 2011». Ими стали:
    %ul
      %li{ style: 'color: #666'}
        %a{ href: 'http://openpriority.com/ru/projects/it/321/'} «QueryHunter»
        &mdash; Павел Каштанов и Александр Ковалев (Тверь).
      %li{ style: 'color: #666'}
        %a{ href: 'http://openpriority.com/ru/projects/it/omg/'} «Oh, My Guide!»
        &mdash; Таисия Серебрякова, Александр Хитущенко, Стас Давыдов и Алексей Вишняков (Санкт-Петербург).
      %li{ style: 'color: #666'}
        %a{ href: 'http://openpriority.com/ru/projects/social/majakaja/'} «Majakaja»
        &mdash; Захар Кириллов, Андрей Филимонов и Дмитрий Семиренко (Таллин).
      %li{ style: 'color: #666'}
        %a{ href: 'http://openpriority.com/ru/projects/media/305/'} «iFamous.Me»
        &mdash; Давид и Георгий Джанелидзе (Тбилиси).
      %li{ style: 'color: #666'}
        %a{ href: 'http://openpriority.com/ru/projects/media/316/'} «Magru»
        &mdash; Дмитрий Рудченко, Станислав Лагун и Егор Хомяков (Москва).
      %li{ style: 'color: #666'}
        %a{ href: 'http://openpriority.com/ru/projects/e-commerce/317/'} «MyByCo»
        &mdash; Вадим Скопинцев и Никита Казанцев (Москва).
  
  %p Сегодня все участники вылетели в Испанию. Три месяца жизни на берегу океана будут посвящены работе над своими идеями. Следите за новостями.

  %p Бизнес-акселератор «Spanish Village» благодарит всех участников отборочного конкурса. Мы надеемся, что непобедившие в этот раз авторы проектов не разочаруются в нас, а главное в себе, и примут участие в следующих отборочных турах.
  
  %br>
  Сергей Иваненко, координатор.
  %br>
  16 сентября 2011
%br
%br>
%div= image_tag 'season2011/blog10-2.jpg', style: 'max-width: 100%'
%br
%br>