%h2 Ярмарка интернет-проектов «Spanish Village» в Марбелье
%br>
%div= image_tag 'season2011/blog2.jpg', style: 'max-width: 100%'
%br>
%div{ style: '-moz-column-count: 2; -moz-column-gap: 2em; -webkit-column-count: 2; -webkit-column-gap: 2em;'} 
  
  %p
    25 ноября в отеле
    %a{ href: 'http://www.puenteromano.com', rel: 'nofollow'} Puente Romano
    прошла ярмарка интернет-проектов «Spanish Village», организованная Управляющей компанией «Приоритет«. Это мероприятие стало завершающим и самым важным событием реализуемого компанией проекта создания бизнес-акселератора в Испании. 
  
  %p
    Конференц-зал отеля Puente Romano оказался переполненным. В ярмарке интернет-проектов приняли участие более 60 человек. Помимо организаторов и авторов проектов, в зале присутствовали около 30 европейских и российских инвесторов, а также представители испанских деловых кругов и местных бизнес-инкубаторов
    %a{ href: 'http://www.promalaga.es/', rel: 'nofollow'} Promalaga I+D
    и&nbsp;
    %a{ href: 'http://www.pta.es/', rel: 'nofollow'}>PTA «IDEA!»
    \. Специальными гостями мероприятия стали представители администрации Андалусии. Интерес к событию проявила и испанская пресса. 
  
  %p
    Инвесторам и гостям ярмарки были представлены 12 интернет-проектов. По завершении официальной части организаторы, авторы проектов и инвесторы продолжили деловое общение в неформальной обстановке. Наибольший интерес вызвали проекты&nbsp;
    %a{ href: 'http://filmflakes.com/'}> FilmFlakes
    ,
    %a{ href: 'http://www.youcanfilm.ru/'} YouCanFilm
    и&nbsp;
    %a{ href: 'http://lifetable.com/ru/main.html'}> LifeTable
    \. Подводя первые итоги «Spanish Village», председатель совета директоров Управляющей компании «Приоритет» Дмитрий Паршков заявил, что первый сезон бизнес-акселератора «Spanish Village» оказался более чем успешным, поскольку удалось подготовить несколько действительно сильных проектов, в их успехе невозможно сомневаться. Поэтому УК «Приоритет» продолжит реализацию проекта бизнес-акселератора «Spanish Village», второй сезон которого стартует весной 2012 года.
   
  %br>
  Сергей Иваненко, координатор.
  %br>
  25 ноября 2011
%br>
%br