%h2 Инженерный день в «Spanish Village»
%br>
%div= image_tag 'season2011/blog3.jpg', style: 'max-width: 100%'
%br>
%div{ style: '-moz-column-count: 2; -moz-column-gap: 2em; -webkit-column-count: 2; -webkit-column-gap: 2em;'} 
  
  %p 
    1 ноября 2011 года участники стартап акселлератора «Spanish Village» проходят экватор. Истекла половина времени, отведённого организаторами мероприятия на воплощение наших идей. Позади остались долгие часы обсуждения с менторами бизнес-моделей, способов монетизации, юридических и маркетинговых аспектов разрабатываемых проектов. Сейчас полным ходом идёт работа над технической частью: перед программистами и дизайнерами поставлены конкретные задачи, а их завтрак плавно превращается в очередной ежедневный 
    %i scrum.
   
  %p Участники проектов используют целый букет технологий: QueryHunter положили в основу своего сервиса платформу .NET и MS SQL Server; Majakaja и Magru сделали ставку на Ruby on Rails; Oh, My Guide! объединили PHP и Java. Кроме того, в проектах нашли применение Python, HTML5, jQuery, PhoneGap, mySQL, OpenID и другие технологии.
  
  %p Разработчики &mdash; народ любопытный, им всегда интересно, что происходит в соседней команде, какой инструментарий используют коллеги и почему, а главное: можно ли что-то позаимствовать, чтобы ускорить и облегчить свою работу? Чтобы не отрывать друзей от работы повторяющимися вопросами, девелоперы проявили инициативу и решили устроить в эту пятницу, 4 ноября, «инженерный день» &mdash; мероприятие, где главными действующими лицами будут сами разработчики команд. Все желающие поделиться опытом предложили свои темы, из которых путём голосования были выбраны наиболее интересные большинству разработчиков.
  
  %br>
  
  .not-publish
    %h3 Программа дня
    
    %p
      %br>
      10:00 - 10:15
      %br>
      прогревание компов и настройка аппаратуры
      %br>
      %br
      10:15 - 11:00
      %br>
      о CoffeScript и его использовании (Егор Хомяков; Magru)
      %br>
      %br
      11:15 - 12:00
      %br>
      об интеграции с европейскими платёжными системами (Захар Кириллов; Majakaja)
      %br>
      %br
      12:15 - 13:00
      %br>
      о разработке мобильных приложений на PhoneGap (Стас Давыдов; Oh My Guide!)
      %br>
      %br
      13:00 - 14:00
      %br>
      пятничный флейм и дружеский троллинг
      %br>
      %br
      %a{ href: 'http://www.ustream.tv/channel/spanishvillage', rel: 'nofollow'} Онлайн-трансляция @ Ustream
   
  %br>
  Захар Кириллов, Majakaja.
  %br>
  2 ноября 2011.
  
%br>
%br