%h2 Конференция «Emtech Spain» в Малаге
%br>
%div= image_tag 'season2011/blog4.jpg', style: 'max-width: 100%'
%br>
%div{ style: '-moz-column-count: 2; -moz-column-gap: 2em; -webkit-column-count: 2; -webkit-column-gap: 2em;'} 
  
  %p Всем привет и снова с вами команда QueryHunter!
  
  %p
    26 октября, прошла конференция
    %a{ href: 'http://www.emtechspain.com/en/', rel: 'nofollow' }Emtech Spain
    в Испании в выставочном центре Palacio de Ferias y Congresos в городе Малага. На конференции собрались люди, имеющие глубочайшие знания в различных профессиональных сферах, в том числе, присутствовали специалисты из таких мировых гигантов, как Google, Facebook и Twitter. Наша компания QueryHunter успела засветиться на этом серьёзном и редком мероприятии. Конференции проходила на испанском и английском языках, речь была как об ожидаемых, так и уже существующих технологиях и способах их модернизации.
  
  %p В перерыве на ланч, мы с коллегой беседовали о нашей компании с людьми, которые много лет проработали в сфере ИТ-бизнеса. Не смотря на неординарность и техническую сложность модели нашего проекта, они быстро поняли суть, выразили заинтересованность и дали нам несколько очень хороших советов. Время в течении networking’а на конференции не прошло даром, мы получили качественный фидбек в областяъ, в которых мы собираемся развиваться. Это был практичный и трезвый диалог. Наша дискуссия закончилась крепким рукопожатием и обменом контактами, после чего мы удались в конференц-зал.
  
  %p Во второй половине дня начались мини презентации стартапов, за 4 минуты на испанском языке, нужно было рассказать о своей компании, участники нервно ожидали момента своего выхода на сцену. Как не удивительно, но все выступили отлично, мне не понравился только один участник, переминаясь с ноги на ногу, он читал на бумаге свой пич, практически ничего не понятно и никакой заинтересованности я не увидел у аудитории. В перерыве мы решили зайти, на выставку инноваций, где меня просто восхитили своими идеями молодые специалисты. Милая девушка, представляющая продукцию своей компании, очень бегло, но до мелочей понятно, объяснила процесс работы дополненной трехмерной реальности. 
  
  %p Когда закончился перерыв, конференция перешла на тему онлайн игр, постепенно подступая к своему завершению. Команды испанской деревни собрались в холле и активно спорили между собой. Ну вот и все друзья, мой рассказ о Emtech подходит к концу, спасибо за внимание. 
  
  %p 
    %i Hasta luego, con vosotros ser Alexandro.
   
  %br>
  Александр Ковалев, QueryHunter.
  %br>
  27 октября 2011
%br>
%br