%h2 Один день из жизни резидентов «Spanish Village»
%br>
%div= image_tag 'season2011/blog5.jpg', style: 'max-width: 100%'
%br>
%div{ style: '-moz-column-count: 2; -moz-column-gap: 2em; -webkit-column-count: 2; -webkit-column-gap: 2em;'} 
  
  %p
    Каждый день начинается с того, что полупроснувшиеся резиденты, а кто-то бодрячком, подтягиваются на завтрак. За чашечкой горячего капучино или
    %i monchado
    (местный рецепт кофе с молоком) обсуждаются рабочие вопросы и вечерний досуг. 
  
  %p
    Ближе к 10 утра будущие владельцы компаний перетекают в конференц-зал, где проходят мистические обряды и посвящения в тайны интернет-бизнеса. На линче проектов, который проходит как до обеда, так и после, ведутся активные дебаты о том, как реализовать проект лучше и быстрее. Особо полюбился всем проект&nbsp;
    %a{ href: 'http://www.ifamous.me'}> iFamous.me
    \: ребята очень стойко защищают свои идеи и все обсуждения ими других проектов заканчиваются в итоге обсуждением их журнала.
  
  %p После выноса мозга резиденты отправляются на обед, где наш дружелюбный персонал отеля накормит первым, вторым и "postre por favor". Испанский обед - это 2 российских по времени, поэтому первую неделю казался невероятно долгим.
  
  %p В 16 начинается следующий этап &mdash; изучение испанского, а затем практика английского. Преподаватель по испанскому очень грамотно и креативно подходит к каждому занятию, как наилучший результат Алехандро из QueryHunter.com уже свободно общается на испанском с девушками на ресепшене &mdash; практика решает все! Роберт, не говорящий на русском в принципе, на английском учит нас публичным выступлениям и творческому подходу ко всему. Особых успехов достиг наш Андрей из Majakaja &mdash; преподавателю удалось раскрыть его талант, он стал более коммуникабельнее, чем в самом начале программы акселерации в «Spanish Village». 
  
  %p Наговорившись и на испанском, и на английском, резиденты отправляются на ужин, где снова подают первое, второе и "postre por favor", но по старой испанской традиции ужин всегда вкуснее чем завтрак и обед! Поэтому через месяц пребывания были куплены весы, после чего количество посещающих ужин значительно уменьшилось, впрочем как и количество потребляемой еды :)
   
  %br>
  Таисия Серебрякова, Oh, My Guide!
  %br>
  23 октября 2011
%br>
%br