%h2 Первый месяц в бизнес-акселераторе «Spanish Village»
%br
%div= image_tag 'season2011/blog6.jpg', style: 'max-width: 100%'
%br
%div{ style: '-moz-column-count: 2; -moz-column-gap: 2em; -webkit-column-count: 2; -webkit-column-gap: 2em;'} 
  -# у кого не поддерживается column-count увидит просто одну колонку
  %p Верить в то, что все будет сразу и быстро наверное не стоит; полагать, что кто-то сделает за вас вашу работу бесполезно; всё, что могут предложить вам &mdash; это идеальные условия для реализации вашего проекта. Пожалуй, самое главное, &mdash; не забывайте в чем состоит ваша идея, держитесь за нее, верьте в нее, умейте учиться чему-то новому, всегда старайтесь учиться на чужих ошибках, не совершая их самим, и тогда у вас обязательно все получится!
  
  %p Всё началось ровно 9 месяцев назад, когда два брата-выпускника МЭСИ решили создать уникальное издание, которое смогло бы привнести абсолютно новый взгляд в процесс создания журнала. Хотя некоторые утверждают, что идея не стоит ничего, и это лишь малая, ничтожная часть в процессе создания какой либо компании, именно благодаря идее, креативности, энтузиазму и вере в то, что наша идея воплотится в жизнь, что она будет интересна и нужна людям, мы смогли достичь определенных успехов, смогли сделать первый шаг. Да, мы работали не покладая рук, забывая о сне, работали и днем и ночью, как бы банально это ни звучало, но это в действительности было так. Делая первые шаги, мы, несомненно, допускали ошибки, но мы старались их не замечать, наоборот мы всегда старались прогрессировать, модернизировать и развиваться. Пожалуй, главной нашей ошибкой было то, что работая над своей идеей, мы забыли про очень важную вещь. Мы забыли, что любая гениальная идея может просто испариться в воздухе, не имея представления о том, как она может существовать без точного представления о правильной реализации этой идеи. Почему так получилось? Наверное, поскольку мы были очень сильно увлечены творческим процессом.
  
  %p Именно поэтому мы оказались участниками бизнес-акселератора «Spanish Village»: нам хотелось, чтобы профессионалы в области IT, медиа, маркетинга помогли нам превратить нашу идею, наш проект в успешную компанию. Советы и помощь таких специалистов, как Дмитрий Паршков, Владимир Вагин, (которые изначально поверили в нас и в наш проект), Сергей Грибов, Антон Носик, Арсен Ревазов, Елена Кадейкина и Елена Пальгова не могут не принести пользу. Главное чему мы научились за месяц проведенный в Испании &mdash; это работа в одной команде, поскольку за этот месяц мы успели подружиться со всеми ребятами, которые также участвуют в этом проекте. Несмотря на то, что у каждого из нас разные проекты, мы стараемся помогать друг другу, ценим и делимся тем опытом, который у нас есть, и это в действительности очень объединяет людей.
  
  %pОдним словом, из творческих людей, имеющих идею, мы превращаемся в специалистов, знающих в каком направлении мы должны двигаться, и каким образом наша идея может превратиться в успешный бизнес-проект.
   
  %br>
  Давид и Георгий Джанелидзе, iFamous.me.
  %br>
  20 октября 2011
%br>
%br