%h2 Идеи ничего не стоят
%br>
%div= image_tag 'season2011/blog7.jpg', style: 'max-width: 100%'
%br>
%div{ style: '-moz-column-count: 2; -moz-column-gap: 2em; -webkit-column-count: 2; -webkit-column-gap: 2em;'} 
  -# у кого не поддерживается column-count увидит просто одну колонку
  %p Идея ничего не стоит, и это правда. Идея &mdash; это косточка персика, из которой может вырасти плодородное персиковое дерево. Сколько косточек прорастает? Ничтожно мало, но достаточно, чтобы культура персиков не исчезла. Какой бы замечательной не была бы ваша идея, ее реализация обязательно столкнется с множеством технических и маркетинговых проблем, которые могут охладить любое начинание.  Вам придется многим пожертвовать, прагматично и хладнокровно отсечь лишние ветки, чтобы это заработало - не идеально, не так как вы себе это представляли, но заработало. Иначе у вас не хватит ресурсов, и ваше молодое дерево умрет, так и не достигнув корнями воды.
  
  %p Около месяца назад мы, команда QueryHunter, прибыли в Испанию, в бизнес-акселератор «Spanish Village». За один месяц из косточки размером с футбольный мяч получилась очень маленькая плотная семечка, с подробной инструкцией, как за ней ухаживать. Если вы хотите заниматься бизнесом, научиться мыслить структурно, реалистично, стать прагматиком &nbsp; то это отличное начало. Смело езжайте в стартап-инкубатор. Общение с акулами бизнеса быстро выбьет из вас весь излишне оптимистичный идеализм. У нас впереди еще два месяца. И мы намерены вырастить дерево!
   
  %br>
  Павел Каштанов, QueryHunter.
  %br>
  15 октября 2011
%br>
%br