%h2 Программа поездки в технопарк «IDEA!» в Малаге
%br>
%div= image_tag 'season2011/blog8-1.jpg', style: 'max-width: 100%'
%br>
%div
  %h6 Погода: температура воздуха от 16° до 27°C, солнечно.
  %br
  .not-publish
    11:00 &mdash; представление андалусийского
    %a{ href: 'http://www.pta.es', rel: 'nofollow'} технопарка «IDEA!»
    Соньей Паломо, заместителем директора департамента по трансферу технологий и развитию международных отношений;
    %br>
    11:45 &mdash; встреча с Хосе Луисом де ла Роса, генеральным директором&nbsp;
    %a{ href: 'http://www.yerbabuena.es', rel: 'nofollow'}> «Yerbabuena Software»
    \;
    %br>
    12:30 &mdash; автобусная экскурсия по технопарку с Найлой Дахдах, сотрудницей департамента по трансферу технологий и развитию международных отношений;
    %br>
    13:30 &mdash; встреча с Евой Перес, заместителем директора инкубатора&nbsp;
    %a{ href: 'http://www.promalagaincubadoras.es', rel: 'nofollow'}> «Promálaga I+D»
    \;
    %br>
    14:30 &mdash; встреча с представителями компаний, работающих в инкубаторе «Promálaga I+D»;
    %br>
    15:00 &mdash; обед с Антонио Киросом, директором отдела развития новых технологий при правительстве Малаги;
    %br>
    17:00 &mdash; встреча с Марком Сандерсон, директором отдела по развитию международных отношений при правительстве Малаги;
    %br>
    17:30 &mdash; встреча с Хаспером Мерман, директором&nbsp;
    %a{ href: 'http://www.solutum.com', rel: 'nofollow'}> «Solutum Internet Marketing»
    \;
    %br>
    18:30 &mdash; окончание поездки.
   
  %br>
  Сергей Иваненко, координатор.
  %br>
  13 октяборя 2011
%br>
%div= image_tag 'season2011/blog8-2.jpg', style: 'max-width: 100%'
%br>
%br