%h2 Первые впечатления от бизнес-акселератора «Spanish Village»
%br>
%div= image_tag 'season2011/blog9-1.jpg', style: 'max-width: 100%'
%br>
%div{ style: '-moz-column-count: 2; -moz-column-gap: 2em; -webkit-column-count: 2; -webkit-column-gap: 2em;'} 

  %pВсем привет! Меня зовут Александр, я участник акселератора «Spanish Village», представляю проект&nbsp;
  %a{ href: 'http://www.queryhunter.com'}> QueryHunter.com
  \. Расскажу вам о своих первых впечатлениях.
  
  %pМы вылетели на самолете из Шереметьево, на самолете я летел первый раз, впечатления были такие классные, что я просто был на седьмом небе! Действительно, увидеть Альпы с высоты 11 тысяч метров &mdash; просто божественная красота. Дальше в дороге в основном было облачно, видны были только облака. Прилетели в Малагу в 10 утра, оттуда до Тарифы на заказном автобусе, по дороге я тоже наслаждался красотами Испании.Но это были лишь пылинки того, что сейчас тут происходит.
  Мы живем в очень хорошем отеле, есть свой кабинет для работы. Кормят тут ужасно вкусно, в основном национальная кухня &mdash; а это свежевыловленные в океане морепродукты, которые рыбаки продают в ресторан нашего отеля, и мясо. Утром шведский стол, усеянный разнообразной здоровой пищей: фрукты и сухофрукты, молочные подливки, хлопья, орехи, йогурты и многое другое. В обед первое и второе, причем порции от души накладывают, вечером тоже первое и второе. Всегда &mdash; десерт и кофе. У меня такое чувство, что через 3 месяца я буду как Херли из Лоста :) Когда мы приехали, нам дали пару выходных, чтобы отдохнуть перед работой &mdash; поверьте, мне эти выходные запомнились на долго!
  
  %p С понедельника наши уважаемые учредители начали работу с прибывшими командами. За время, которое мы живем в испанской деревне, было довольно много мини-конференций по юридическим вопросам. На прошлой неделе прошла конференция с Арсеном Ревазовым и Антоном Носиком. Разговор был про ошибки стартапов и стратегиях продажи интернет-рекламы, а так же об аудитории торговых площадок. Участники проекта «Spanish Village» засыпали вопросами этих опытных людей, давших по крайней мере мне очень полезные советы, которые пригодятся для дальнейшего развития нашего проекта. Буквально несколько дней назад прошли занятия по Scrum. Его преподавали очень опытные и замечательные люди, имеющие большие знания в этой области. В настоящее время проходит сессия с Сергеем Грибовым об инвестициях, их поисках и привлечении. Предусмотрена индивидуальная работа ментора с каждой из команд и помощь в написании бизнес-плана. Не могу не отметить Владимира Вагина и Дмитрия Паршкова, которые каждый день делятся своим опытом с участниками проекта. Они много времени проводят с командами, чтобы мы построили прочный фундамент своей будущей компании и добились колоссальных результатов в её развитии. За это говорю им огромное спасибо!
  
  %p Забыл упомянуть о языках: три раза в неделю проходят занятия по испанскому и английскому языку в мини-группах. Испанский учить намного проще, когда тебя окружают в основном испанцы. Суббота и воскресенье у нас выходной: администрация стараются как можно красочней организовать наше свободное время. Например, в прошлые выходные была экскурсия в Танжер (Марокко), а в позапрошлые &mdash; в Кадис. Я люблю бывать в горах и на берегу океана, так же люблю спорт и тут есть все, что дает замечательную продуктивность в работе.
  
  %br>
  Александр Ковалев, QueryHunter.
  %br>
  7 октября 2011
%br>
%br
%div= image_tag 'season2011/blog9-2.jpg', style: 'max-width: 100%'
%br>
%br