= t('mail.reset_password', :locale => @user.locale)
%br
.linktoclick{:style => 'margin: 2em 0em;'}
  =link_to t('user.profile.change_password', :locale => @user.locale), reset_password_url(:email => @user.email, :reset_token => @user.reset_token)
