-title t('user.set_new_password')
%h2= t('user.set_new_password')
%br
= form_for @user, :url => reset_password_users_path(:reset_token => params[:reset_token], :email => params[:email]), :html => {:method => :post, :class => 'column-form', :style => 'margin-left: 1em;'} do |f|
  .label
    =f.label :email, User.human_attribute_name(:email)
  .field
    =@user.email
  .label
    =f.label :password, User.human_attribute_name(:new_password)
  .field
    =f.password_field :password
  .label
    =f.label :password_confirmation, User.human_attribute_name(:password_confirmation)
  .field
    =f.password_field :password_confirmation
  %br
  %br
  =f.submit t('user.profile.change_password')
  =t('common.or')
  =link_to t('common.cancel'), login_users_path
%br