%h2 КОНФИДЕНЦИАЛЬНОСТЬ
%br>
%div{ style: '-moz-column-count: 2; -moz-column-gap: 2em; -webkit-column-count: 2; -webkit-column-gap: 2em;'} 
  -# у кого не поддерживается column-count увидит просто одну колонку
   
  %p Администрация сайта предпринимает разумные меры по сохранению конфиденциальности всей информации участников проекта «Spanish Village», которая предоставляется в связи с получением доступа к настоящему сайту.
   
  %p Условия регистрации на сайте предполагают добровольное предоставление личной информации с полного согласия пользователей. Личная информация из регистрационной формы может быть использована только уполномоченными на это сотрудниками администрации сайта и, в редких случаях, лицами или фирмами, которые принимают участие в проекте «Spanish Village». Данные лица соблюдают договор о конфиденциальности личной информации.
   
  %p Администрация сайта обязуется использовать предоставленную вами личную информацию только для переписки с вами по вопросам участия в проекте «Spanish Village» и не будет использовать предоставленную личную информацию для рассылки незапрошенных сообщений, а также продавать, предоставлять за плату во временное пользование или передавать ее какой-либо сторонней организации, кроме как своим официальным консультантам, а также по требованию закона или по решению суда. Администрация сайта приложит все усилия для обеспечения полной конфиденциальности личной информации.

%br>
%br