%h2 PRIVACY POLICY
%br>
%div{ style: '-moz-column-count: 2; -moz-column-gap: 2em; -webkit-column-count: 2; -webkit-column-gap: 2em;'} 
   
  %p The website administration takes all necessary precautions to ensure the security of the information that we collect from the participants of the start-up incubator Spanish Village when they register on the website.
   
  %p The website administration asks users to voluntary provide personal information. The personal information provided by you on the registration form will be made accessible to duly authorized Spanish Village personnel and occasionally to persons or companies involved in the Spanish Village project. All such persons are subject to confidentiality agreements and the respect of the participants’ privacy.
   
  %p The collected personal information will only be used to communicate with you regarding your participation in the start-up incubator Spanish Village. We will not use your personal data for unsolicited communications and we do not sell, rent or otherwise make available any personal data submitted to us to any third parties unless it is to our legal advisors or where so required by law or a court decision. The administration of this website will use its best endeavours to ensure that such data is kept secure at all times.

%br>
%br