%h2 Política de privacidad
%br>
%div{ style: '-moz-column-count: 2; -moz-column-gap: 2em; -webkit-column-count: 2; -webkit-column-gap: 2em;'} 
   
  %p La administración de la página web dispone de las medidas adecuadas para garantizar la seguridad y la confidencialidad de toda la información personal de los participantes en el proyecto Spanish Village, que se presentan durante el proceso de registro.
   
  %p El administrador de la página web permite que los usuarios faciliten su información personal de manera voluntaria. La información personal presentada durante el proceso de registro puede ser usada solo por el personal autorizado de la administración de la página web, o en casos especiales por personas y/o empresas que participan en el proyecto Spanish Village. El personal en cuestión se ve obligado a cumplir con el requisitos del acuerdo de seguridad de confidencialidad.
   
  %p La administración de la página web se compromete a usar la información personal presentada por Usted solamente con la finalidad de mantener la correspondencia con el Propietario, solucionando de este modo las preguntas de la participación en el proyecto, se garantiza que la información personal no se usará con el objetivo de envío de mensajes que no sean requeridos, o de venderla, ni de prestarla para el uso inadecuado, ni de facilitársela a cualquier otra empresa u organización, sino exclusivamente a los consejeros oficiales, por la exigencia de la ley o por la decisión del tribunal. La administración de la página web hará todo el esfuerzo posible para garantizar la completa seguridad y confidencialidad de la información personal.

%br>
%br