.row
  .span6
    %h2 ¿Cómo?
    %p{ style: 'color: #666' } 
      La participación en la aceleradora empresarial ‘Spanish Village’ comienza con la fase de clasificación, que tiene lugar dos veces al año: en Enero y Julio. Para participar en el concurso es necesario presentar&nbsp;
      %a{ href: signup_path }<> una solicitud con el formulario del candidato
      relleno con la información sobre su idea lo más posible detallada.En el concurso puede tomar parte todo tipo de proyectos innovadores en el campo de tecnología informática. Los organizadores se centran en los proyectos de Internet que puedan explotarse en diferentes países, soluciones para el comercio electrónico, aplicaciones móviles y juegos.
    %p{ style: 'color: #666' }
      Todas las solicitudes deben superar la fase de peritaje. Todos los proyectos aceptados se publican en la página web. Después de una calificación previa los equipos con los proyectos más interesantes, prometedores y viables son invitados a una entrevista personal, a partir de la cual seleccionamos los 7 equipos ganadores que viajarán a España.
    %br
    %h2 Un trabajo productivo
    %p{ style: 'color: #666' } 
      Durante 3 meses de estancia en la aceleradora los equipos tendrán todo lo necesario para un trabajo productivo: una oficina espaciosa, modernas instalaciones, software, cómodo alojamiento en habitaciones individuales y todo el menaje necesario para que los participantes se sientan como si estuvieran en su propia casa…o incluso mejor. 
    %p{ style: 'color: #666' }
      Durante el período de trabajo los equipo recibirán el apoyo 
      = link_to 'de expertos', who_path
      en desarrollo empresarial, publicidad y marketing, gestión de proyectos y recursos, aplicación de nuevas tecnologías, financiación de proyectos, elaboración de planes de negocio detallado, de presentaciones efectivas y de exposiciones al público.
  .span6
    %h2 Un considerable bono
    %p{ style: 'color: #666' } Cada miembro del equipo recibirá durante su estancia en España un bono extra de 1000€ al mes.
    %br
    %h2 Un gran comienzo
    %p{ style: 'color: #666' } Al finalizar el programa de aceleración, se celebrará un evento especial, donde los equipos expondrán sus proyectos y planes de negocio al grupo de inversores de los principales fondos de capital riesgo de Europa interesados. ‘Spanish Village’ ofrece apoyo jurídico y en todas las fases de la negociación de los proyectos con los inversores hasta que se lleven a término.
    %p{ style: 'color: #666' } Al terminar la actividad, cada proyecto habrá registrado una empresa nueva con un 20% de sus participaciones pertenecientes a ‘Spanish Village’ en ella. Cada equipo decidirá por su cuenta las participaciones de sus miembros.
    %br
    %h2 Ocio activo
    %p{ style: 'color: #666' } La aceleradora comercial ‘Spanish Village’ ofrece un amplio programa educativo y cultural que incluye visitas a ciudades cercanas, parques tecnológicos, conferencias y ferias temáticas, además de la posibilidad de aprender idiomas: inglés y castellano.
    %p{ style: 'color: #666' } Los participantes en el programa disponen de tiempo libre para emplear a su gusto: pueden tomar el sol en la piscina, bañarse en el océano, ir a la sierra, montar en bici o practicar el kite surfing, jugar al tenis o al billar, visitar Marruecos, etc.
%br
.row{ style: 'background: #f6f6f6; margin-right: -30px' }
  = image_tag 'shadow_down.png', style: 'display: block; height: 10px; width: 100%;'
  .span6
    %h2 Requisitos para los equipos
    %ol{ style: 'color: #666' }
      %li Idioma de comunicación: ruso o inglés, sin importar la procedencia o ubicación del equipo.
      %li Número de componentes máximo: 3 personas. Entre los miembros de cada equipo se ha de contar al menos con un especialista responsable de la parte técnica del proyecto con experiencia y las competencias correspondientes y una persona que hable inglés (algunos eventos y conferencias se llevarán a cabo en inglés).
      %li Los autores y promotores de los proyectos han de estar disponibles para ir a España y permanecer en ‘Spanish Village’ durante todo el programa y hasta el final del mismo.
      %li Todos los participantes de nacionalidad rusa deben disponer de un pasaporte para viajar al extranjero con la fecha de caducidad a fecha de al menos 90 días a partir del último día del viaje.
  .span6
    %h2 Resultados del programa de la aceleradora de negocios
    %div{ style: 'color: #666' } Durante el trabajo en sus proyectos en ‘Spanish Village’ los equipos en colaboración con los organizadores y expertos invitados tendrán que preparar:
    %ol{ style: 'color: #666' }
      %li Un plan de negocios detallado que incluya estudios de mercado, descripción del proceso de financiación del proyecto, su viabilidad, estrategia del acceso al mercado y cantidad de inversiones necesarias para la siguiente etapa.
      %li Un resumen del proyecto (Executive Summary) en ruso y en inglés.
      %li Una presentación visual acompañada de una breve explicación (Elevator Pitch) sobre el contenido del proyecto.
      %li Un prototipo o presentación del proyecto.
      %li Un plan técnico para terminar la primera versión del proyecto.
      %li Un diseño original (nombre, logotipo, dominio de Internet, material de promoción).
  %br