.row
  .span6
    %h2 Как?
    %p{ style: 'color: #666' } 
      Участие в программе бизнес-акселератора «Spanish Village» начинается с отборочного конкурса, который проходит дважды в год: в январе и июле. Чтобы участвовать в конкурсе необходимо&nbsp;
      %a{ href: signup_path }<> подать заявку
      , заполнив анкету кандидата и как можно подробнее описав свою идею. На конкурс принимаются любые инновационные проекты в области информационных технологий. В фокусе внимания организаторов находятся масштабируемые на реализацию в разных странах интернет-проекты, решения для электронной коммерции, мобильные приложения и игры.
    %p{ style: 'color: #666' }
      Все поданные заявки проходят премодерацию. Проекты, принятые к рассмотрению, публикуются на сайте. После предварительного  отбора команды наиболее интересных, перспективных и жизнеспособных проектов приглашаются на очное собеседование. По результатам собеседования будет отобрано 7 команд-победителей, которые отправятся в Испанию.
    %br
    %h2 Продуктивная работа
    %p{ style: 'color: #666' } 
      В течение 3 месяцев нахождения в акселераторы команды будут обеспечены всем необходимым для плодотворной работы: просторным офисом, современным оборудованием, лицензионным программным обеспечением, комфортабельным проживанием в индивидуальных номерах, необходимыми предметами быта, позволяющими чувствовать себя как дома и даже лучше.
    %p{ style: 'color: #666' }
      В течение всего периода работы команды получают всестороннюю поддержку 
      = link_to 'экспертов', who_path
      в области развития бизнеса, рекламы и маркетинга, управления проектами и ресурсами, использования современных технологий, финансирования проектов, создания эффективных презентаций и подробных бизнес-планов, ораторского искусства.
  .span6
    %h2 Приятный бонус
    %p{ style: 'color: #666' } Каждый участник команды во время пребывания в Испании обеспечивается стипендией в размере 1000€ в месяц.
    %br
    %h2 Впечатляющий старт
    %p{ style: 'color: #666' } По завершении программы акселерации будет организовано специальное мероприятие, на котором команды представят подготовленные проекты и бизнес-планы группе заинтересованных инвесторов из ведущих европейских венчурных фондов. Бизнес-акселератор предоставляет организационную и юридическую поддержку командам на всех этапах переговоров с инвесторами вплоть до заключения сделки.
    %p{ style: 'color: #666' } На выходе из акселератора для каждого проекта будет зарегистрирована новая компания, доля «Spanish Village» в которой составит 20%. Доли внутри команд распределяются на усмотрение участников. 
    %br
    %h2 Активный отдых
    %p{ style: 'color: #666' } Бизнес-акселератор «Spanish Village» обеспечивает обширную культурно-образовательную программу, включающую посещение ближайших испанских городов, технопарков, тематических выставок и конференций, а также возможность изучения английского и испанского языков.
    %p{ style: 'color: #666' } Участники сами распоряжаются своим свободным временем: можно загорать у бассейна, купаться в океане, подниматься в горы, кататься на велосипеде или встать на кайт, играть в теннис или бильярд, съездить в Марокко и многое другое. 
%br
.row{ style: 'background: #f6f6f6; margin-right: -30px' }
  = image_tag 'shadow_down.png', style: 'display: block; height: 10px; width: 100%;'
  .span6
    %h2 Требования к командам
    %ol{ style: 'color: #666' }
      %li Язык общения &mdash; русский и английский, при этом происхождение и территориальное местонахождение команд значения не имеет.
      %li Максимальный размер команды &mdash; 3 человека, причём в составе должен быть по меньшей мере один человек, отвечающий за техническую часть разработки проекта и имеющий для этого соответствующие компетенции и опыт, а также один человек со знанием английского языка (некоторые лекции и мероприятия проводятся на английском).
      %li Авторы и инициаторы проекта должны быть готовы приехать в Испанию на всё время программы и оставаться в «Spanish Village» до окончания акселерации.
      %li У всех участников-граждан России должны быть загранпаспорта, действующие более 90 дней с момента окончания поездки.
  .span6
    %h2 Результаты программы бизнес-акселерации
    %div{ style: 'color: #666' } В ходе работы над проектом в «Spanish Village» команды в сотрудничестве с организаторами и приглашенными экспертами должны будут подготовить:
    %ol{ style: 'color: #666' }
      %li подробный бизнес-план, включающий исследование рынка, описание монетизации проекта, его финансовый прогноз и маркетинговую стратегию выхода на рынок, а также рассчитанную сумму необходимых инвестиций для следующего этапа;
      %li резюме проекта («Executive Summary») на русском и английском языках;
      %li визуальную презентацию и короткую речь («Elevator Pitch»), рассказывающую о сути проекта;
      %li прототип или демо-версию проекта;
      %li техническое задание на завершение разработки первой версии проекта;
      %li фирменный стиль (название, логотип, доменное имя, промо-материалы).
  %br