.row
  .span6
    %h2 How?
    %p{ style: 'color: #666' } 
      The participation in the Spanish Village business accelerator programme starts with a selection competition that is held twice a year, in January and in July. To take part in the competition, fill in the&nbsp;
      %a{ href: signup_path }<> application form
      , describe your idea in as much detail as possible and submit your application. Any innovative projects in the sphere of information technology may take part in the competition. The organisers will focus on internet projects that could be scaled for international implementation, electronic business solutions, mobile phone applications and games.
    %p{ style: 'color: #666' }
      All the applications we receive are pre-moderated. The projects accepted for the contest are published on our web page. Shortlisted teams of the most interesting, promising and economically-viable projects are invited for interviews, which result in us choosing 7 winning teams that will go to Spain.
    %br
    %h2 Efficient work
    %p{ style: 'color: #666' } 
      During the three months of the accelerator programme, the teams will be provided with anything they need for productive work: a spacious office, modern equipment, licensed software, accommodation in comfortable single rooms and the comfort necessities to make you feel at home and even better.
    %p{ style: 'color: #666' }
      In the course of the whole working period, the teams can seek extensive support of 
      = link_to 'experts', who_path
      in the areas of business development, advertising and marketing, project and resource management, use of modern technologies, project financing, detailed business plans and effective presentation development and public speaking.
  .span6
    %h2 Welcome bonus
    %p{ style: 'color: #666' } Every participant of the programme will receive a scholarship of €1000 per month in the period they spend in Spain.
    %br
    %h2 Impressive start
    %p{ style: 'color: #666' } After the acceleration programme comes to an end, a special event will be held for the teams to introduce the projects and business plans they have prepared to a group of interested investors from leading European venture funds. The business accelerator provides teams with organisational and legal support throughout all the stages of negotiations with investors until the deal is closed.
    %p{ style: 'color: #666' } Upon leaving the business accelerator, every project will have a company registered for it with Spanish Village holding a share of 20%. The shares within the teams will be distributed to the discretion of the participants.
    %br
    %h2 Leisure activities
    %p{ style: 'color: #666' } The Spanish Village business accelerator provides an extensive cultural and educational programme, including visits to the nearby Spanish cities, technology parks, thematic exhibitions and conferences as well as opportunities for studying Spanish and English.
    %p{ style: 'color: #666' } It is up to the participants to decide how to spend their leisure time: you can enjoy the sun at the pool, swim in the ocean, go to the mountains, go biking or kite surfing, play tennis or billiards, go on a trip to Morocco and do many other things.  
%br
.row{ style: 'background: #f6f6f6; margin-right: -30px' }
  = image_tag 'shadow_down.png', style: 'display: block; height: 10px; width: 100%;'
  .span6
    %h2 Requirements to the teams
    %ol{ style: 'color: #666' }
      %li Languages: Russian and English; the origin and geographical location of the teams are of no importance.
      %li Maximum size of the team: 3 participants in which there must be at least one person responsible for the technical part of project development and having the appropriate qualifications and experience and one person with the necessary English language skills (some of the lectures and events are held in English).
      %li The authors and proponents of the project should be ready to come to Spain for the duration of the programme and remain at Spanish Village until acceleration is completed.
      %li All of the participants with Russian citizenship must have international passports valid for more than 90 days after returning from the trip.
  .span6
    %h2 Results of the business acceleration programme
    %div{ style: 'color: #666' } The teams will have to prepare the following in the course of their work on the project at Spanish Village in cooperation with the organisers and invited experts:
    %ol{ style: 'color: #666' }
      %li a detailed business plan including the market research, the description of project monetization, the financial forecast of the project and the marketing strategy for launching it on the market as well as the calculated amount of the investment necessary for the next stage;
      %li the Executive Summary of the project in Russian and English;
      %li a visual presentation and the Elevator Pitch introducing the essence of the project;
      %li a prototype or demo version of the project:
      %li the design specification for the first version of the project;
      %li corporate identity (name, logo, domain name, promotional materials).
  %br