%h2.strong ¿Qué?
%br
.row
  .span6
    %p La aceleradora empresarial internacional ‘Spanish Village’ se estrenó en otoño de 2011. Como resultado de la misma, seis proyectos están listos para ser lanzados al mercado. Es hora de seguir adelante.
    %br
    %p Para el año 2012 están previstas dos temporadas: en primavera (marzo-mayo) y en otoño (septiembre-noviembre) Los 14 equipos ganadores, 7 en cada temporada, viajarán a España durante 3 meses, donde trabajarán intensamente en sus ideas, recibirán el apoyo de expertos y adquirirán una experiencia en negocios única.
    %br
    %p Al finalizar, los equipos participarán en una presentación, donde expondrán sus proyectos y planes de negocio al grupo de inversores interesados.
  .span6
    %blockquote
      %q.pt14.em{ style: 'line-height: 1.6'}
        ‘El desarrollo internacional es la salida de las impulsoras rusas a nivel mundial, es un hecho histórico y un paso hacia la creación de una nueva tendencia en la industria rusa de TI’
      %div{ style: 'color: #999'}
        %strong> Vitaliy Akimov,
        &nbsp;Director Ejecutivo de
        = link_to 'StartupPoint.ru', 'http://startuppoint.ru/blog/public/36716.html'
%hr
.row
  .span6
    %hgroup
      %h2 Para los inversores &mdash;
      %h6 amplíen su cartera de proyectos con un riesgo mínimo.
    %br
    %p{ style: 'color: #666'} Una rigurosa selección de ideas, un profundo análisis del potencial de futuros proyectos, las condiciones óptimas para el funcionamiento eficiente de los equipos, el control de la organización, así como la participación de expertos de todo el mundo darán lugar a una plataforma ideal para crear proyectos de Internet provechosos y de excelente calidad.
    %p{ style: 'color: #666'} En el marco de la presentación que se celebra al final de cada temporada, los inversores tienen la oportunidad de elegir los proyectos ya a punto para el lanzamiento, un equipo que ha seguido un cursillo de capacitación profesional y ha pasado la prueba del tiempo. Ustedes podrán conocer las figuras clave de cada equipo, examinar los planes del negocio y la documentación de los proyectos, así como probar personalmente los prototipos de cada proyecto. Todo eso le ahorrará la etapa inicial, la más arriesgada, y simplificará la selección de proyectos para la inversión.

    %br
    %hgroup
      %h2 Para los socios &mdash;
      %h6 aprovechen el efecto de la sinergia.
    %br
    %p{ style: 'color: #666'} Desde el grupo empresarial ‘Spanish Village’ estamos abiertos a la cooperación con diferentes medios de comunicación, páginas web especializadas, comunidades de start-uppers, parques tecnológicos, autoridades y ONG’s. Si quiere cambiar el mundo y contribuir al desarrollo humano de la civilización, ¡somos lo que busca!
    %br
    .float-left{ style: 'margin-right: 2em' }
      = link_to image_tag('extenda.jpg', :alt => 'Agencia Andaluza de Promoción Exterior en Rusia'), 'http://www.extenda.ru', :rel => 'nofollow'
    .float-left
      = link_to image_tag('stpoint.jpg', :alt => 'Comunidad de start-uppers y inversores'), 'http://www.startuppoint.ru', :rel => 'nofollow'
  .span6
    %hgroup
      %h2 Para los participantes &mdash;
      %h6 conviertan su idea en un negocio viable y rentable.
    %br
    %p{ style: 'color: #666'}
      Si su proyecto de negocio está relacionado con Internet, tecnologías móviles, comercio electrónico o videojuegos y si está dispuesto a dedicarle tres meses de su vida a desarrollar la idea, compártala con nosotros y aproveche la oportunidad de realizar su sueño. Lea&nbsp;
      %a{ href: how_path}> los términos de participación
      &nbsp;y&nbsp;
      %a{ href: signup_path}> ¡presente su solicitud!
    %br
    %hgroup
      %h2 Para los expertos &mdash;
      %h6 participe en un intercambio de experiencias y amplíe su círculo de contactos empresariales.
    %br
    %p{ style: 'color: #666'} La invitación a participar en el proyecto ‘Spanish Village’ se extiende a reconocidos expertos y profesionales en el campo de la creación y desarrollo de negocios, dispuestos a compartir su conocimiento y experiencia con gente joven y ambiciosa que acaban de iniciar su carrera profesional.
%br