%h2.strong Что?
%br
.row
  .span6
    -#NB! В разделе много текста, надо разрядить графической информацией - например, видеороликами по мотивам прошлого заезда.
    /.float-left{ style: 'max-width: 50%; padding-right: 1em; box-sizing: border-box' }
    %p Выездной бизнес-акселератор «Spanish Village» впервые был проведён осенью 2011 года. К выходу на рынок подготовлены шесть проектов. Пора двигаться дальше.
    -#(тут должна быть ссылка на сезон-2011!)
    %br
    %p На 2012 год запланировано два заезда: весенний (март&mdash;май) и осенний (сентябрь&mdash;ноябрь). 14 команд-победителей, по 7 в каждый заезд, отправятся в Испанию, где в течение 3 месяцев будут интенсивно работать над своей идеей, получая консультации экспертов и уникальный деловой опыт.
    %br
    %p По окончанию программы будет организована презентация, на которой команды представят подготовленные проекты и бизнес-планы заинтересованным инвесторам.
  .span6
    %blockquote
      %q.pt14.em{ style: 'line-height: 1.6'}
        &laquo;Выездная разработка &mdash; это выход российских стартапов на международный уровень, это знаковое событие и серьезная заявка на формирование нового тренда в российской&nbsp;
        %nobr> IT-индустрии&raquo;
      %footer{ style: 'color: #999'}
        %strong> Виталий Акимов,
        &nbsp;генеральный директор
        = link_to 'StartupPoint.ru', 'http://startuppoint.ru/blog/public/36716.html'
%hr
.row
  .span6
    %hgroup
      %h2 Инвесторам &mdash;
      %h6 расширяйте портфель проектов при минимальных рисках.
    %br
    %p{ style: 'color: #666'} Конкурсный отбор идей, глубокий анализ потенциала будущих проектов, оптимальные условия для продуктивной работы команд, организационный контроль, а также участие экспертов из разных стран мира обеспечивают базу для создания качественных и высокодоходных интернет-проектов.
    %p{ style: 'color: #666'} На проводимой в конце каждого сезона презентации инвесторам предоставляется возможность выбрать уже подготовленные к запуску проекты, команды которых прошли специализированную подготовку и проверку временем. Вы можете познакомиться с ключевыми фигурами каждого проекта, изучить бизнес-планы и проектные документы, а также собственноручно протестировать прототипы проектов. Всё это поможет избежать самого рискованного посевного этапа и упростит выбор проекта для инвестирования.

    %br
    %hgroup
      %h2 Партнёрам &mdash;
      %h6 используйте эффект синергии.
    %br
    %p{ style: 'color: #666'} Бизнес-акселератор «Spanish Village» открыт для сотрудничества со средствами массовой информации, тематическими интернет-площадками, стартап-сообществами, технологическими парками, органами власти, общественными организациями. Если вы хотите изменить мир, если вы считаете, что можете внести свой вклад в развитие человеческой цивилизации – нам по пути!
    %br
    .float-left{ style: 'margin-right: 2em' }
      = link_to image_tag('extenda.jpg', :alt => 'Торговое представительство испанского региона Андалусия в России'), 'http://www.extenda.ru', :rel => 'nofollow'
    .float-left
      = link_to image_tag('stpoint.jpg', :alt => 'Сообщество стартаперов и инвесторов'), 'http://www.startuppoint.ru', :rel => 'nofollow'
  .span6
    %hgroup
      %h2 Участникам &mdash;
      %h6 превратите свою идею в жизнеспособный и прибыльный бизнес.
    %br
    %p{ style: 'color: #666'}
      Если твой бизнес-проект связан с интернетом, мобильными технологиями, электронной коммерцией или компьютерными играми и ты готов посвятить три месяца работе над идеей своей жизни &mdash; поделись ею с нами и получи возможность претворить свою мечту в жизнь. Прочитай&nbsp;
      %a{ href: how_path}> условия участия
      &nbsp;и&nbsp;
      %a{ href: signup_path}> подай заявку
      !
    %br
    %hgroup
      %h2 Экспертам &mdash;
      %h6 обменивайтесь опытом и расширяйте круг бизнес-контактов.
    %br
    %p{ style: 'color: #666'} Приглашаем к участию в бизнес-акселераторе «Spanish Village» известных российских и зарубежных специалистов, профессионалов в области создания и развития международного бизнеса, владельцев и топ-менеджеров ведущих компаний в сфере ИТ и новых медиа. Мы предоставляем вам возможность поделиться знаниями и опытом с молодыми и амбициозными людьми, только начинающими свою карьеру.
%br