%h2.strong What?
%br
.row
  .span6
    %p The first international business accelerator took place in 2011. Six projects were prepared to be launched on the market, and we are ready to launch the next projects.
    %br
    %p Two sessions have been scheduled for 2012: the spring session (March–May) and the autumn session (September–November). 14 winning teams, 7 in each session, will come to Spain, where they will focus fully on developing their ideas, while consulting experts and receiving invaluable business experience.
    %br
    %p Upon the completion of the programme, there will be a presentation where the teams will have to introduce the projects and business plans they prepared to interested investors.
  .span6
    %blockquote
      %q.pt14.em{ style: 'line-height: 1.6'}
        &laquo;A development camp is an opportunity to launch Russian start-ups on the international level; it is a momentous event and a strong bid for the emergence of a new trend in the Russian IT industry,&raquo; &mdash;
      %footer{ style: 'color: #999'}
        %strong> Vitali Akimov,
        &nbsp;the CEO of
        = link_to 'StartupPoint.ru', 'http://startuppoint.ru/blog/public/36716.html'
%hr
.row
  .span6
    %hgroup
      %h2 For the Investors &mdash;
      %h6 expand your project portfolio with minimal risks.
    %br
    %p{ style: 'color: #666'} The establishment of a base for the development of high-quality and highly profitable internet projects is ensured by the competitive selection of ideas, thorough analysis of the future projects’ potential, optimum conditions for the efficiency of the teams’ work and the involvement of experts from many countries of the world.
    %p{ style: 'color: #666'} The presentation organised at the end of each season provides investors with an opportunity to choose from the prepared projects that have been developed by the teams and have received specialized training and stood the test of time. You will be able to meet the key persons responsible for each project, study the business plans and project documentation and also test the prototypes of projects yourself. All this will allow you to avoid the riskiest proposal and make it easier to choose a solid project for your investments.

    %br
    %hgroup
      %h2 For the Partners &mdash;
      %h6 use the synergy effect.
    %br
    %p{ style: 'color: #666'} The Spanish Village business accelerator is willing to cooperate with the media, thematic internet environments, start-up communities, technology parks, authorities and public organisations. If you would like to change the world for the better, if you think you can make a difference in the development of human civilisation, together we can make that dream come true!
    %br
    .float-left{ style: 'margin-right: 2em' }
      = link_to image_tag('extenda.jpg', :alt => 'The Trade Embassy of the Spanish region of Andalusia in Russia'), 'http://www.extenda.ru', :rel => 'nofollow'
    .float-left
      = link_to image_tag('stpoint.jpg', :alt => 'Community of start-uppers and investors'), 'http://www.startuppoint.ru', :rel => 'nofollow'
  .span6
    %hgroup
      %h2 For the Participants &mdash;
      %h6 turn your idea into a viable and profitable business.
    %br
    %p{ style: 'color: #666'}
      If your business has anything to do with the internet, mobile phone technologies, electronic business or computer games and you would like to spend three months focusing on the development of the idea which is your dream, share it with us and get a chance to make it come true. Read the&nbsp;
      %a{ href: how_path}> conditions of participation
      &nbsp;and&nbsp;
      %a{ href: signup_path}> apply now!
      !
    %br
    %hgroup
      %h2 For the Experts &mdash;
      %h6 exchange experience and expand your range of business contacts.
    %br
    %p{ style: 'color: #666'} We are inviting distinguished Russian and foreign specialists and professionals in the sphere of international business development as well as owners and top managers of IT and new media market leaders to participate in the Spanish Village business accelerator sessions. We will give you an opportunity to share your knowledge and experience with young ambitious people who are at the first step of their career ladder.
%br